.productsGrid{
  display:flex;
  flex-wrap: wrap;
  gap:20px;
}
.productsGrid img{
  width:280px;
  border:1px solid #59B17A;
  border-radius: 20px;
}
.description{
  background: white;
  padding: 20px;
  border-radius: 20px;
}
.name{
  font-size: 18px;
  margin-bottom: 4px;
}
.price{
  font-size: 18px;
  font-weight: bold;
}
.suppliers{
  font-size:12px;
  color: #1D1E21;
  opacity: 0.6;
}
.button{
  padding:10px 16px;
  border-radius: 24px;
  border: none;
  background-color: #59B17A;
  color: white;
  margin-top: 14px;
}
.detailsLink{
  color: #1D1E21;
  font-size: 12px;
}
.detay{
  display: flex;
  justify-content: space-between;
  align-items: center;
}