.description{
    
margin-top: 30px;
}
.info{
    background-color: #59B17A;
    display: flex;
    align-items: center;
    padding: 40px 40px 40px 80px;
    border-radius: 27px;
    gap: 19px;
}
.description .logo{
    width: 50%;
}
.description h4{
    font-size: 48px;
    color: white;
    margin-bottom: 24px;
    width: 75%;
}
.description p{
    color: #F1F1F1;
    line-height: 20px;
    margin-bottom: 40px;
    width: 68%;
}
.description a{
    border: 1px solid #F1F1F1;
    padding: 13px 50px;
    border-radius: 60px;
    color: #F1F1F1;
    text-decoration: none;
}
.img{
    width: 20px;
}
.list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    list-style: none;
}
.list li{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}
.list li p{
    position: relative;
    top: 15px;
    color: black;
}
@media screen and (max-width:600px) {
    .info{
        flex-direction: column;
    }
    .list{
        flex-direction: column;
    }
    .description h4{
        width: 100%;
    }
    .description p{
        width: 100%;
    }
    .description .logo{
        width: 100%;
        margin-top: 20px;
    }
}