.logout{
    background-color: white;
    padding: 16px 32px;
    border: 1px solid #59B17A;
    color: #59B17A;
    opacity: 0.5;
    border-radius: 60px;
    margin-left: 10px;
    cursor: pointer;
}
.layout{
    position: relative;

}
.layout img{
    border: 1px solid gainsboro;
    background-color: white;
    padding: 12px;
    border-radius: 50%;
}
.layout p{
    position: absolute;
    left: 30px;
    top: 1px;
    background-color: #E7F1ED;
    color: #59B17A;
    padding: 1px 5px;
    border-radius: 50%;
}
.wrapper{
    display: flex;
    align-items: center;
}